/* Additional design */



#buttons button {
font-family: 'Segoe UI', Arial, Tahoma, sans-serif;
margin: 0 10px 0 0;
color: #6B6B6B;
border-radius: 3px;
padding: 10px;
box-shadow: 0px 1px 1px #CCC;
background: #F3F3F3;
background: -webkit-gradient(linear,left top,left bottom,from(#F5F5F5),to(#F1F1F1));
background: -moz-linear-gradient(top,#F5F5F5,#F1F1F1);
background: -o-linear-gradient(top,#F5F5F5,#F1F1F1);
border: 1px solid #B1B1B1;
}
#buttons button:hover {
border-color: #A7A7A7;
color: #333;
box-shadow: 0px 1px 1px #CCC;
}
#buttons button:active {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#E0E0E0));
border-color: #BBB;
box-shadow: #CCC 0px 1px 5px inset;
-webkit-box-shadow: #CCC 0px 1px 5px inset;
z-index: 2;
color: #000;
}


.success{
  color:green;
}
.failure{
  color:red;
}

#admin_menu{
  font-size: 20px;
}
#error_ocured_admin{
  margin-left:10px;
  color:#E31B00;
  float;left !important;

}
#success_admin{
  margin-left:10px;
  color:#4FA12E;
  float;left;
}
#admin_settings {
  
  border-right:1px solid #ccc;
  float:left;
  width:420px;
  height:auto;
}

#admin_settings #content{
  width:410px;
}

#admin_settings textarea{
  float:left;
  width:250px;
  height:100px;
}
#admin_settings_info{
  float:left;
}

#admin_settings_ads {
margin-left:30px;
float:left;
}
#admin_settings_ads textarea{
  height:250px;
  width:400px;
}
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #8C8C8C; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #A3A3A3; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td {color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #8C8C8C;background: #EBEBEB;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #F5F5F5;border: 1px solid #8C8C8C;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #7D7D7D; color: #F5F5F5; background: none; background-color:#8C8C8C;}
.datagrid a {  cursor: pointer !important; ;}
#results{
  margin-left:65px;
}

.imgwrp{
  margin-left:10px;
margin-top:10px;

}

.search_result{
  width: 100%;
  float: left;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.image-container {
float: left;
margin-right: 20px;
}
.search-container {
float: left;
}
.search-duration {
width: 100%;
}

.tipsy { padding: 5px; font-size: 12px; position: absolute; z-index: 100000; }

.tipsy-arrow { position: absolute; background: url('images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }

.tipsy-inner { padding: 5px 8px 4px 8px; background-color: #fff; color: #666; width: 200px;  border: 1px solid #BCBCBC; box-shadow: 1px 1px 5px rgba(0,0,0,0.2);}
.tipsy strong { color: #000; }
.tipsy despartitor { margin: 5px 0 0 -8px; border-top: 1px solid #ddd; width: 216px; height: 2px; display: block;}
.tipsy votes { color: #000; }
.tipsy genres { color: #000; }

.input-custom {
  padding: 10px !important;
  font-size: 18px !important;
}
.btn-custom {
  padding: 10px !important;
  font-size: 16px !important;
  margin-top:-10px;
}

/* End of Additional design */