html{height:100%;margin:0;padding:0;}
*{font-family:arial,tahoma,sans-serif;margin:0;padding:0;word-wrap:break-word;}
strong{font-size:inherit;}
body{margin:0;padding:0;min-height:100%;position:relative;text-align:left;width:100%;}
a{color:#4564AC;text-decoration:none;}
a:hover{text-decoration:underline;}
img{border:0;}
.clear{clear:both !important;float:none !important;height:0 !important;line-height:0 !important;margin:0 !important;padding:0 !important;}
textarea{resize:none;}
*:focus{outline:none;}
body{background:url("/images/bg.png") repeat scroll 0 0 transparent;}
#header{background:url("/images/headerBg.png") repeat-x scroll center 0 #2E8B57 ;height:65px;}
#header #headerInside{color:#fefeff;font-size:16px;line-height:31px;margin:0 auto;padding:15px 0 0;text-align:center;width:1140px;}
#header a{color:#fefeff;display:inline-block;font-size:17px;margin-left:3px;}
#searchIt{background-color:#f8f8f8;border-bottom:1px solid #eaeaea;color:#191919;font-size:29px;height:335px;line-height:31px;padding-top:140px;text-align:center;}
#searchIt form{display:block;margin:75px auto 0;overflow:auto;width:700px;}
#searchIt form input[type="text"]{background-color:white;border:1px solid #cccccc;border-width:1px 0 1px 1px;color:#757575;display:block;float:left;font-size:16px;height:38px;padding-left:10px;width:597px;}
#searchIt form input[type="submit"]{background:url("/images/search.png") no-repeat scroll 8px 14px #005799;border:0 none;color:white;display:block;float:left;font-size:14px;height:40px;padding-left:13px;width:91px;}
#content{margin:0 auto;width:1140px;}
#content #contentTitle{color:#191919;font-size:30px;font-weight:400;margin:50px 0 0;}
#content p{color:#544a4a;font-size:15px;line-height:22px;margin:20px 0 0;text-align:justify;}
#content table{border-bottom:1px solid #DDDDDD;margin:20px 0 0;}
#content table tr{border-bottom:1px solid #DDDDDD;}
#content table tr th{background-color:#f1f3f9;color:#544a4a;font-size:14px;font-weight:400;height:35px;line-height:22px;padding-left:5px;}
#content table tr:first-of-type{border-bottom:1px solid transparent;}
#content table tr th:first-of-type{padding-left:50px;}
#content table tr td{color:#181818;font-size:14px;font-weight:400;height:38px;line-height:22px;}
#content table tr td:first-of-type{padding-left:5px;}
#content table tr td a{color:#0c329e;font-size:16px;}
#content table tr td img{vertical-align:text-top;}
#content #paginator{color:#181818;font-size:16px;line-height:22px;margin:20px auto 0;width:200px;}
#content #paginator span, #content #paginator a{background-color:#e9e9e9;border:1px solid #dedede;color:#181818;display:inline-block;font-size:15px;height:28px;line-height:28px;text-align:center;width:28px;}
#content #paginator a{background-color:white;}
#content #paginator a:hover{background-color:#e9e9e9;text-decoration:none;}
#footerOuter{height:75px;width:100%;}
#footer{background-color:#2E8B57 ;bottom:0;height:45px;position:absolute;width:100%;}
#footer #footerInside{margin:0 auto;padding:10px 0 0;width:1140px;}
#footer #footerInside a{color:#fefeff;display:inline-block;font-size:14px;margin-right:20px;}
#redirect{background:url("/images/redirect.png") no-repeat scroll center 90px #f8f8f8;border:1px solid #EAEAEA;color:#191919;font-size:28px;line-height:31px;height:255px;margin:110px 0 0;padding:220px 0 0;text-align:center;}
#redirect p{font-size:23px;}
#redirect p span{color:#357600;}